
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="ISO-8859-1">
<title>Featured Posts</title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<style type="text/css">
.grid-container-element {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
	border: 1px solid black;
}

.grid-child-element {
	margin: 10px;
	border: 1px solid red;
}

p {
	text-align: center;
}

.tagDiv {
	display: inline-block;
}
</style>
</head>

<body>
	<h1>Posts List</h1>
	<a th:href="@{/createNewPost}" class="btn btn-primary btn-sm mb-3">
		Add Post </a>

	<br>
	
	
	<form action="#" th:action="@{'/page/'}" style="display:inline-block">
	<input name="keyword" th:value="*{keyword}" />
	<button th:type="submit" >submit</button>
	</form>
	<a th:href="@{'/page/' }" class="btn btn-sm " style="color:#fff;background-color:#212529" >Reset</a>
	

	<a th:href="@{'/page/' + ${currentPage} + '?sortField=createdAt&sortDir=' + ${reverseSortDir}}">Created At</a>
	<a th:href="@{'/page/' + ${currentPage} + '?sortField=title&sortDir=' + ${reverseSortDir}}">Title</a>
	
	<div>
    <ul>
       <li th:each="author : ${authors}">
         <input type="checkbox" th:field="*{author}" th:value="${author}" />
         <label th:for="${#ids.prev('author')}" th:text="${item}"></label>
      </li>
   </ul>
</div>
	
	
	<div class="grid-container-element">
	
		<div class="grid-child-element" th:each="post : ${listPosts}">
			<p>
				<a th:href="@{/fullContent/{id}(id=${post.postId})}"
					class="btn btn-secondary">View Full Post</a>
			</p>
			<div>
				<h1 th:text="${post.title}"></h1>
				<p th:text="${post.excerpt}"></p>
				<h5 th:text="${post.author}"></h5>
				<p th:text="${post.publishedAt}"></p>
				<p th:text="${post.isPublished}"></p>
				<p th:text="${post.createdAt}"></p>
				<p th:text="${post.updatedAt}"></p>
			</div>
			<div th:each="tag:${post.tags}" class="tagDiv">
				#<span th:text="${tag.name}"></span>
			</div>
		</div>

		<div th:if="${totalPages>1}">
			<div class="row col-sm-10">
				<div class="col-sm-2" >
				Total Items:[[${totalItems}]]
				</div>
				
				<div class="col-sm-1">
					 <a
						th:if="${currentPage >1}" th:href="@{'/page/'+${currentPage-1}+ '?sortField='+ ${sortField} + '&sortDir=' + ${sortDir} + '&keyword='+${keyword}}">Previous</a>
						<span th:unless="${currentPage > 1}">Previous</span> 
				</div><pre>     </pre>
				
				<div class="col-sm-1">
					<a th:if="${currentPage<totalPages}"
						th:href="@{'/page/'+${currentPage+1}+ '?sortField='+ ${sortField} + '&sortDir=' + ${sortDir}+ '&keyword='+${keyword}}">Next</a> <span
						th:unless="${currentPage<totalPages}">Next</span>
				</div> <pre>  </pre> 
				
				<div class="col-sm-1">
					<a th:if="${currentPage<totalPages}"
						th:href="@{'/page/'+${totalPages}+ '?sortField='+ ${sortField} + '&sortDir=' + ${sortDir}+ '&keyword='+${keyword}}">Last</a> <span
						th:unless="${currentPage<totalPages}">Last</span>
				</div>
			</div>
		</div>

	</div>
</body>
</html>